form {
    max-width: 400px;
    margin: 20px auto;
    float: left;
    
}
input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.success-message {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-top: 10px;
}
.cupom {
    display: flex;
}